<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByO3urq97knQD0R8RIfpLkYcdlSl6XxbY</string>
	<key>GCM_SENDER_ID</key>
	<string>495424228106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-application-417418</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-application-417418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495424228106:ios:fbb37608c276e716fb48f3</string>
</dict>
</plist>